*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: #30326a;
}

.containBox{
    width: 60%;
    height: 50vh;
    
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    color: #aaaed7;
    text-align: center;
    
}

.containBox i{
    font-size: 65px; 
    margin-bottom:8px;
}

.innerBox{
    text-align: center;
}

.innerBox #counter{
    font-size: 68px;  
    color: #e6ae30;
}
.first1{
    background-color: #30326a;
    display: grid;
    place-items: center;
}

.first2{
    background-color: #30326a;
    display: grid;
    place-items: center;
}

.first3{
    background-color: #30326a;
    display: grid;
    place-items: center;
}